.header {
  background-color: red;
}

.title {
  background-color: green;
}

.logo1 {
  background-color: darkgray;
}

.logo2 {
  background-color: gray;
}

.bookmark {
  background-color: blue;
}

.memeber {
  background-color: violet;
}

.body {
  background-color: black;
}

.filter {
  background-color: yellow;
}
